.App {
  text-align: center;
}
input {
  display: inline-block;
  width: 120px;
}
.new {
  display: inline-block;
  width: 50px;
}
.counters {
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
  margin: auto;
}
.counter {
  width: 50%;
}
