* {
  box-sizing: border-box;
}
body {
  background-color: #607d8b;
}
.App {
  text-align: center;
  background-color: #607d8b;
  color: #ffffff;
}
.button {
  margin: 2px;
  padding: 6px;
  background-color: #7c4dff;
  border-radius: 4px;
  box-shadow: 6px 6px 6px -2px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.button:hover {
  background-color: #455a64;
  box-shadow: 9px 9px 6px -2px rgba(0, 0, 0, 0.4);
}
.button:active {
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.4);
}

h1 {
  background: #455a64;
  margin-top: 0;
}
input {
  display: inline-block;
  width: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.new {
  display: inline-block;
  width: 50px;
}
.counters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 768px;
  margin: auto;
  background-color: #bdbdbd;
  border-radius: 4px;
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 126px;
  margin: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 6px 6px 6px -2px rgba(0, 0, 0, 0.4);
}
.remove {
  margin-bottom: 5px;
}
.counterBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  background-color: white;
  color: black;
}
.name {
  width: 70%;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 27px;
}
.number {
  width: 30%;
  line-height: 54px;
}
.plus,
.minus {
  width: calc(50% - 3px);
  min-height: 30px;
  color: white;
}
.minus {
  margin-left: 0;
}
